

.containered {
  margin: 50px 0 0 100px;
}

.tile {
  width:160px;
  height:180px;
  border-radius:4px;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.15);
  margin-top:20px;
  margin-left:20px;
  float:left;
}

.tile.wide {
  width: 340px;
}

.tile .header {
  height:120px;
  background-color:#f4f4f4;
  border-radius: 4px 4px 0 0;
  color:white;
  font-weight:300;
}

.tile.wide .header .left, .tile.wide .header .right {
  width:160px;
  float:left;
}

.tile .header .count {
  font-size: 48px;
  text-align:center;
  padding:10px 0 0;
}

.tile .header .title {
  font-size: 20px;
  text-align:center;
}

.tile .body {
  height:60px;
  border-radius: 0 0 4px 4px;
  color:#333333;
  background-color:white;
}

.tile .body .title {
    text-align:center;
    font-size:20px;
    padding-top:2%;
}

.page-title-breadcrumb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    padding: 20px 20px;
    background: #ffffff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    clear: both;
    border-bottom: 5px solid #e5e5e5 !important;
    box-shadow: none !important;
}
.billing-page-header{
    margin: 0;
    padding: 0;
    border-bottom: 0;
}
.billing-page-title {
    font-size: 25px; 
    font-weight: 300;
    display: inline-block;
}
.cat-card {
    border: 0;
    border-radius: .1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 1px 15px 1px rgba(39,39,39,.1);
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}
.table-respon {
    overflow-y: auto;
    padding-bottom: 10px;
}
.table-respon::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #F5F5F5;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122,153,217)), color-stop(0.72, rgb(73,125,189)), color-stop(0.86, rgb(28,58,148)));
}
.cat-card-header {
    background-color: transparent;
    padding: 15px 15px 0;
    border: 0;
    margin-bottom: 0;
    color: inherit;
}
.cat-card-title {
    margin-bottom: .75rem;
}
.cat-card-body {
  padding: 15px 15px 10px;
  flex: 1 1 auto;
}
.action-button {
  margin-right:10px;
}
.action-button i {
  color:black;
}
.page-layout {
    margin-top: 21px;
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
    height: calc(100vh);
    border-right: 1px solid #7e808c;
}

._1LxRl {
    width: 1px;
    right: 0px;
    bottom: 2px;
    top: 2px;
    border-radius: 3px;
    position: absolute;
}

._30cCo{
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: inherit;
    background-color: rgba(0,0,0,.2);
    height: 46px;
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    transition: opacity .3s ease;
}
.menu-layout a, a:focus, a:hover, a:visited {
    text-decoration: none; 
    background-color: transparent;

}
.menu-layout-items {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    display: block;
    font-size: 15px;
    color: #282c3f;
    padding-top: 5px;
    font-weight: 400;
    margin-right: -15px;
    padding-right: 20px;
} 
.menu-layout-items:first-child {
    padding-bottom: 5px;
}

.menu-list {
    padding: 0px 55px 100px;
}
.menu-list-title-layout:first-child {
    margin-top: 0px;
}
.menu-list-title-layout {
    padding: 11px 34px 10px;
    border-bottom: 2px solid #282c3f;
    margin-top: 23px;
}
.menu-list-title-layout:first-child .menu-list-title {
    padding-top: 17px;
}
.menu-list-title {
    padding-bottom: 2px;
}
.menu-list-no {
    padding-bottom: 30px;
    font-size: 13px;
    color: #686b78;
    font-weight: 500;
    text-transform: uppercase;
}
.menu-list-itemlayout:first-child {
    padding-top: 0px;
}
.menu-list-itemlayout {
    padding-top: 23px;
    position: relative;
}
.menu-layout-items:hover{
        color: #fc8019
}
.icon-layout {
    position: relative;
    top: 5px;
    float: left;
    
}
.icon-display {
    color: #ad4728;
    font-size: .8rem;
}
.menu-list-item {
    position: relative;
    padding-bottom: 25px;
    margin-left: 0px;
    border-bottom: 1px solid #e9e9eb
}
.menu-active {
    position: absolute;
    display: inline-block;
    top: 7px;
    right: 0%;
    width: 4px;
    height: 18px;
    background: #fc8019;
    z-index: 1;
}
.menu-button {
    float: right;
    margin-top: 3px;
    height: 30px;
    border: 1px solid #d4d5d9;
    color: #60b246;
    font-size: .9rem;
    font-weight: 600;
    line-height: 30px;
    position: relative;
    text-align: center;
    background-color: #fff;
}
.menu-btn-add {
    color: #60b246;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.menu-btn-qunatity-num {
    animation: akcss .2s ease;
    position: absolute;
    left: 33.33333%;
    top: 0;
    width: 33.33333%;
    display: inline-block;
    opacity: 1;
    transform: translateZ(0);
    cursor: pointer;
}
.menu-btn-qunatity-add {
    animation: _1gckB .2s ease;
    position: absolute;
    right: 0;
    top: 0;
    width: 33.33333%;
    display: inline-block;
    opacity: 1;
    transform: translateZ(0);
    cursor: pointer;
    font-size: 150%;
    font-weight: 600;
}
.menu-btn-qunatity-sub {
    animation: _1vozQ .2s ease;
    position: absolute;
    left: 0;
    top: 0;
    width: 33.33333%;
    display: inline-block;
    opacity: 1;
    transform: translateZ(0);
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem;
}
.menu-txt-layout {
  margin-right: 0px;
}
.menu-txt {
    margin-left: 20px;
}
.menu-txt-font {
    font-size: 15px;
    color: #282c3f;
    font-weight: 600;
    line-height: 20px;
    margin-right: 10px;
}
.menu-price {
    color: #535665;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 20px
}
.menu-description {
    margin-right: 5px;
    margin-top: 4px;
    width: 100%;
    padding-right: 10px;
    margin-left: 20px;
    line-height: 15px;
    font-size: 13px;
    color: #7e808c;
}
.cart-layout {
    flex-basis: 34%;
    height: calc(100vh - 197px);
    padding: 26px 10px 0;
    transition: height .4s ease;
    margin-top: 21px;
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
    contain:layout;
}   
.cart-height {
    height: 100%;
}
.cart-background {
    background: transparent!important;
}
.cart-in-layout {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 18px;
    color: #282c3f;
    font-family: ProximaNova,Arial,Helvetica Neue,sans-serif;
    letter-spacing: 0;
}
.cart-in-itemNo {
    font-weight: 500;
    font-size: 13px;
    color: #686b78;
    text-transform: uppercase;
    padding-top: 2px;
}
.cart-in-items-layout {
    margin: 0 -10px;
    position: relative;
    max-width: 100%;
}
.cart-title {
    color: #7e808c;
    letter-spacing: -.3px;
    font-size: 32px;
    font-weight: 600;
}
.cart-pic {
    margin-top: 47px;
    opacity: .5;
    width: 100%;
    height: 212px;
}
.cart-description {
    color: #93959f;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 300;
    max-width: 218px;
}
.itemcart-layout{
    display:flex;
    align-items: flex-start;
    padding-bottom: 12px;
}
.itemcart-icon {
    color: #339a33;
    width: 24px;
    height: 15px;
    top: 20%;
    position: relative;
}
.itemcart-height {
    
}
.item-cart-price{
    font-size: 13px;
    color: #535665;
    text-align: right;
    width: 45px;
    margin-top: 7px;
}
.itemcart-items{
    font-size: 14px;
    font-weight: 400;
    margin-top:7px;
    margin-left: 10px;
    margin-right: 5px;
    flex-grow: 2;
}
.itemcart-icon span {
    color: #ad4728;
    padding-left: 1px;
}
.res-title {
    max-width: 538px;
    margin: 0;
    font-weight: 300;
    font-size: 32px;
}
.checkout-layout{
    margin-top: 17px;
    min-height: 115px;
}
.checkout-layout-title{
    color: #3d4152;
    font-size: 15px;
    font-weight: 600;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;

    
}
.checkout-btn {
    height: 50px;
    background-color: #60b246;
    outline: 0;
    cursor: pointer;
    border: 0;
    color: #fff;
    margin-top: 28px;
    text-transform: uppercase;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
}
.checkout-desc {
    font-size: 13px;
    font-weight: 300;
    color: #7e808c;
    margin-top: 2px;
}
.checkout-layout-title-font{
    font-size: 17px;
    -ms-flex: 2;
    flex: 2;
}
.heading-layout{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 12px 32px;
    transform: translateZ(0);
    transition: transform .2s ease-in-out;
    position: relative;
}
.heading-search {
    width: 25%;
    display: table;
    table-layout: fixed;
    box-shadow: 0 3px 15px 0 rgba(40,44,63,.1);
    border: 1px solid rgba(0,0,0,.04);
    height: 40px;
    background-color: #fff;
}
.icon-search {
    font-size: 16px;
    font-weight: 700;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 40px;
    width: 45px;
}

.inputbox-search {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.input-bar {
    border: none;
    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    vertical-align: middle;
    width: 100%;
    height: 22px;
    line-height: 22px;
    font-weight: 600;
    position: relative;
    top: -1px;
    caret-color: #fc8019;
}
.check-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#scrollonthis {
  overflow-y: scroll;
  height: -webkit-fill-available;
  flex-basis: 45%;
}