<div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12" style="margin-top:20px">
                                  
                            <div class="row">
                                <div class="col-sm-3 col-md-3 hidden-xs page-layout" >
                                <div style="height: 100%;
                                max-height: calc(100vh - 197px);">
                                  <div class="position: relative;
                                  overflow: hidden;
                                  width: 100%;
                                  height: 100%;">
                                   <div class="margin-right: -17px;
                                   padding-right: 17px;
                                   top: 0;
                                   left: 0;
                                   right: 0;
                                   bottom: 0;
                                   overflow-x: hidden;
                                   overflow-y: scroll;
                                   " >
                                 <div class="menu-layout" style="padding-right: 13px;padding-top: 30px;
                                 text-align: right;">
                                 <a><div class="menu-layout-items">Reccommend</div></a>
                                 <a><div class="menu-layout-items">hello</div></a>
                                <a><div class="menu-layout-items">soup</div>
                                </a></div>   
                                </div>
                                </div>
                                <div class="_1LxRl"><div class="_30cCo" style="transform: translateY(51.5016px); height: 23.0831px; visibility: visible; opacity: 0;"></div></div>
                                </div>

                                </div>
                                <div class="col-sm-5 col-md-5 hidden-xs menu-list">
                                  <div class="menu-list-title-layout">
                                    <h2 class="menu-list-title">Rolls</h2>
                                    <div class="menu-list-no">5 ITEMS</div>
                                    <div>
                                      <div class="menu-list-itemlayout" >
                                      <div>
                                        <span class="fa fa-stop-circle-o icon-display icon-layout"></span>
                                           <div class="menu-list-item">
                                             <div class="row">
                                               <div class="menu-button col-sm-2 col-md-2">
                                               <div class="menu-btn-add">ADD</div>
                                               </div>
                                               <div class="menu-txt-layout col-sm-10 col-md-10">
                                                 <div class="menu-txt">
                                                   <div class="jTy8b" itemprop="name">Double Chicken Seekh Roll(Egg) + Double Chicken Roll        </div>
                                                   <div class="_2FMT0 _22D_E" style="background-color: rgb(213, 61, 76); color: rgb(255, 255, 255);">BESTSELLER
                                                     <span class="rZ-gh" style="border-color: rgb(213, 61, 76) transparent;"></span>
                                                   </div>
                                                  </div>
                                                  <div class="_12lpv MwITc">
                                                    <span class="_22I-3 bQEAj grcH5">239</span>
                                                    <span class="bQEAj">191</span>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            </div>
                                            </div>

                                    </div>
                                  </div>

                                </div> 
                                <div class="col-sm-4 col-md-4 hidden-xs">

                                    </div> 
                            </div>
                        </div>
                    </div>
