<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <div class=".billing-page-header pull-left">
                        <div class="billing-page-title">
                            FOOD ITEMS</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-plus"></i>&nbsp;<a >Add</a>&nbsp;&nbsp;</li>
                    </ol>
                    <div class="clearfix">
                    </div>
                </div>
<div class="accord-layout">
    <div id="accordion" style="width:100%;">
  <div class="card" style="background: #FB404B;
    background: linear-gradient(to bottom, #FB404B 0%, #bb0502 100%);">
    <div class="card-header" id="headingOne" style="background: #FB404B;
    background: linear-gradient(to bottom, #FB404B 0%, #bb0502 100%);">
      <h5 class="mb-0">
        <a class="btn btn-link btn-block collapsed " 
        data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="text-align: start;">
        
          <span style="display: inline-block;
    /* width: 52%; */
    /* height: 100%; */
    color: antiquewhite;
    font-size: larger;
    font-weight: 600;">Soups</span>
    <span class="accord-caret"><i class="fa fa-eye fa-lg"></i></span>
    <!--<b class="caret accord-caret"></b>-->
        </a>
      </h5>
    </div>


    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Food item</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
      </div>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          beverages
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
</div>