<!--<div class="row">
  <div class="col-sm-12 col-md-12 col-xs-12">{{title}}
  </div>
</div>
<div class="row">
  <div class="col-sm-3 col-md-3 col-xs-6">
  
  <div class="tile job">
    <div class="header">
      <div class="count">1</div>
      <div class="title">Jobs</div>
    </div>
    <div class="body">
      <div class="title">Awaiting Reallocation</div>
    </div>
  </div>
  </div>
</div>-->

<div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <div class=".billing-page-header pull-left">
                        <div class="billing-page-title">
                            Category</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-plus"></i>&nbsp;<a >Add</a>&nbsp;&nbsp;</li>
                    </ol>
                    <div class="clearfix">
                    </div>
                </div>
  

<div class="">
  
    <div class="cat-card">
      <div class="cat-card-header">
        <h4 class="cat-card-title"> Category List</h4>
      </div>
      <div class="cat-card-body">
        <div class="table-respon" id="style-7">
          <table class="table">
            <thead class="text-primary">
              <th> Category Name</th>
              <th> Total Sale</th>
              <th> Total Items</th>
              <th> Today Sale</th>
              <th> Action</th>
            </thead>
            <tbody>
              <tr>
                <td>Soups</td>
                <td>2333334</td>
                <td>24</td>
                <td>2342</td>
                <td><button class="btn action-button"><i class="fa fa-eye fa-lg"></i></button>
                      <button class="btn action-button"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                </td>
              </tr>
              <tr>
                <td>Soups</td>
                <td>2333334</td>
                <td>24</td>
                <td>2342</td>
                <td><button class="btn action-button"><i class="fa fa-eye fa-lg"></i></button>
                      <button class="btn action-button"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                </td>
              </tr>
              <tr>
                <td>Soups</td>
                <td>2333334</td>
                <td>24</td>
                <td>2342</td>
                <td><button class="btn action-button"><i class="fa fa-eye fa-lg"></i></button>
                      <button class="btn action-button"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                </td>
              </tr>
              <tr>
                <td>Soups</td>
                <td>2333334</td>
                <td>24</td>
                <td>2342</td>
                <td><button class="btn action-button"><i class="fa fa-eye fa-lg"></i></button>
                      <button class="btn action-button"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                </td>
              </tr>
              <tr>
                <td>Soups</td>
                <td>2333334</td>
                <td>24</td>
                <td>2342</td>
                <td><button class="btn action-button"><i class="fa fa-eye fa-lg"></i></button>
                      <button class="btn action-button"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
